@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: weaver --default;
	logs: false;
}

@plugin "daisyui/theme" {
	name: 'weaver';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.016 73.684);
	--color-base-200: oklch(95% 0.038 75.164);
	--color-base-300: oklch(90% 0.076 70.697);
	--color-base-content: oklch(23.574% 0.066 313.189);
	--color-primary: oklch(70% 0.183 293.541);
	--color-primary-content: oklch(43% 0.078 188.216);
	--color-secondary: oklch(89% 0.061 343.231);
	--color-secondary-content: oklch(45% 0.187 3.815);
	--color-accent: oklch(70% 0.191 22.216);
	--color-accent-content: oklch(47% 0.157 37.304);
	--color-neutral: oklch(27% 0.006 286.033);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(69% 0.17 162.48);
	--color-success-content: oklch(26% 0.051 172.552);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1rem;
	--radius-field: 2rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 0;
}

@layer utilities {
	.small-caps {
		font-family: 'Alegreya SC', 'EB Garamond', 'serif';
	}

	.prose {
		@apply text-base-content;
	}
}

@theme {
	--font-garamond: 'EB Garamond', 'serif';
	--color-base-content-500: oklch(47% 0.027 313.2);
}

@layer base {
	:root,
	[data-theme] {
		background: repeat url(/img/paper-texture.png) 0 0;
		background-color: var(--root-bg, var(--color-base-100));
		background-blend-mode: hard-light;
		color: var(--color-base-content);
	}
}
